html { 
  background: url(/assets/lg-background.jpg) no-repeat center center fixed;
  opacity: 40%; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	color: white;
}

h1 {
	color: #2c3e50;
}

h2 {
	font-weight: 300;
}

a {
	color: #92c1e9;
	font-weight: 400;
}

a:hover{
  color: white;
}

.message-container {
}

.info-container {
  margin: 60px 0 0 60px;
	color: #2c3e50;
	float: left;
	padding: 30px 0 0 0;
}

.form-container {
  min-width: 55%;
  max-width: 85%;
  margin: 60px 20px;
  padding: 30px 60px 30px 60px;
  float: right;
  background: rgba(0, 0, 0, 0.2);
}